body {
    background-color: #FFD900;
    font-family: 'Oswald', sans-serif;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #E20025;
    text-shadow: -1px 1px 2px gray;
    background-color: #e6e6e6;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 0px 10px 7px 10px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: -2px 2px 5px black;
    font-family: 'Gloria Hallelujah', cursive;
}

.login p {
  text-align: center;
  position: relative;
  right: 250px;
}

.button {
    display: block;
    padding: 0.5em;
    background-color: black;
    text-decoration: none;
    color: white;
}

#signInButton {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
}

.loginbtn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.titlelink {
    text-decoration: none;
}

.subtitle {
    text-align: center;
    color: #00558B;
}

.link {
    background-color: #FFD900;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.back {
    background-color: #FFD900;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: -5px;
}

.welcome {
    text-align: center;
    position: relative;
    margin-top: -8px;
}

form {
    text-align: center;
    margin: 0 auto;
    width: 350px;
}

.inputtext {
    text-align: center;
    font-weight: bold;
    color: #0095ff;
    font-size: 20px;
}

.content {
    background-color: white;
    width: 500px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: -2px 2px 5px black;
}

.creator {
    text-align: center;
}

.creator img {
    display: block;
    position: relative;
    width: 35%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 25%;
}

.blue {
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: #1aa3ff;
    font-size: 20px;
}

.blue:hover {
    color: #00558B;
}

.category p {
    margin-left: 10px;
}

.crud {
    text-align: right;
    margin-top: -75px;
}

.crud-edit {
  background-color: #00558B;
  color: white;
  text-decoration: none;
  margin: 0px 2px 0px 2px;
  padding: 5px;
}

.crud-delete {
  background-color: #E20025;
  color: white;
  text-decoration: none;
  margin: 0px 2px 0px 2px;
  padding: 5px;
}

.flash {
    text-align: center;
    color: #000033;
}

/* hover css */

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  margin: 0 auto;
  right: 250px;
  width: 2%;
  height: 2%;
  text-align: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom-c {
  display: block;
  width: 12%;
  height: 5%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom-c:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-c:hover, .hvr-sweep-to-bottom-c:focus, .hvr-sweep-to-bottom-c:active {
  color: white;
}
.hvr-sweep-to-bottom-c:hover:before, .hvr-sweep-to-bottom-c:focus:before, .hvr-sweep-to-bottom-c:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
