<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/" class='titlelink'>
            <h1 class="title">Catalog App</h1>
        </a>

        </br></br>

        <div class="content">
            <h2 class="subtitle">Delete Item</h2>

            <form method='POST' action="{{ url_for('deleteItem', category_id=category_id, item_id=item_id) }}">
                <p>Are you sure you want to delete {{ item.name }}?</p>

                <input type='submit' value='Delete'>
            </form>

            </br>
        </div>

        <a href="{{ url_for('showCategory', category_id=category_id) }}" class="link">
            <p>Back</p>
        </a>
    </body>
</html>
