{% extends "main.html" %}

{% block content %}
        <div class="content">
            <h2 class="subtitle">Delete Item</h2>

            <form method='POST' action="{{ url_for('deleteItem', category_id=category_id, item_id=item_id) }}">
                <p>Are you sure you want to delete {{ item.name }}?</p>

                <input type='submit' value='Delete'>
            </form>

            </br>
        </div>

        <a href="{{ url_for('showCategory', category_id=category_id) }}" class="back">
            <p>Back</p>
        </a>
{% endblock %}
