<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/" class='titlelink'>
            <h1 class="title">Catalog App</h1>
        </a>

        </br>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </br>

        <div class="content">

        <h2 class="subtitle">Edit Category</h2>

            <form method='POST' action="{{ url_for('editCategory', category_id=category_id) }}">
                <p class="inputtext">Category Name: </p>
                <input type='text' size='30' name='name' placeholder='{{ category.name }}'>
                </br></br>
                <input type='submit' value='Edit'>
            </form>

            </br>

        </div>

        <a href="{{ url_for('showMain') }}" class="link">
            <p>Back</p>
        </a>
    </body>
</html>
