{% extends "main.html" %}

{% block content %}
        <div class="content">

        <h2 class="subtitle">Edit Category</h2>

            <form method='POST' action="{{ url_for('editCategory', category_id=category_id) }}">
                <p class="inputtext">Category Name: </p>
                <input type='text' size='30' name='name' placeholder='{{ category.name }}'>
                </br></br>
                <input type='submit' value='Edit'>
            </form>

            </br>

        </div>

        <a href="{{ url_for('showMain') }}" class="link">
            <p>Back</p>
        </a>
{% endblock %}
