{% extends "main.html" %}

{% block content %}
        <div class="content">
            <h2 class="subtitle">Edit Item</h2>

            <form method='POST' action="{{ url_for('editItem', category_id=category_id, item_id=item_id) }}">
                <p class="inputtext">Item Name:</p>
                <input type='text' size='30' name='name' placeholder='{{ item.name }}'></br>

                <p class="inputtext">Item Description: </p>
                <textarea cols='32' rows='5' name='description' placeholder='{{ item.description }}'></textarea>

                </br></br>

                <input type='submit' value='Edit'>
            </form>

            </br>

        </div>

        <a href="{{ url_for('showCategory', category_id=category_id) }}" class="back">
            <p>Back</p>
        </a>
{% endblock %}
