<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald" rel="stylesheet">
    </head>
    <body>
        {% if login_session['username'] %}
        <a href="/logout" class="loginbtn hvr-bounce-to-right">
            Logout
        </a>
        </div>
        {% else %}
        <a href="/login" class="loginbtn hvr-bounce-to-right">
            Login
        </a>
        {% endif %}

        <a href="/" class='titlelink'>
            <h1 class="title">Catalog App</h1>
        </a>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 class="flash">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            </br>

            {% if login_session['username'] %}
                <p class="welcome">
                    Welcome - {{ login_session['username'] }}
                </p>
            {% endif %}

            {% block content %}
            {% endblock %}

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

            <script src="http://apis.google.com/js/client:platform.js?onload=start" async defer></script>

    </body>
</html>
