<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/" class='titlelink'>
            <h1 class="title">Catalog App</h1>
        </a>

        </br>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </br>

        <div class="content">
            <h2 class="subtitle">New Category</h2>

            <form method='POST' action="{{ url_for('newCategory') }}">
                <p class="inputtext">Category Name: </p>

                <input type='text' size='30' name='name'></br></br>

                <input type='submit' value='Create'>
            </form>

            </br>

        </div>

        <a href="{{ url_for('showMain') }}" class="link">
            <p>Back</p>
        </a>
    </body>
</html>
