{% extends "main.html" %}

{% block content %}
        <div class="content">
            <h2 class="subtitle">New Category</h2>

            <form method='POST' action="{{ url_for('newCategory') }}">
                <p class="inputtext">Category Name: </p>

                <input type='text' size='30' name='name'></br></br>

                <input type='submit' value='Create'>
            </form>

            </br>

        </div>

        <a href="{{ url_for('showMain') }}" class="back">
            <p>Back</p>
        </a>
{% endblock %}
