{% extends "main.html" %}

{% block content %}
        <div class="content">
            <h2 class="subtitle">New Item</h2>

            <form method='POST' action="{{ url_for('newItem', category_id=category_id) }}">
                <p class="inputtext">Item Name:</p>
                <input type='text' size='30' name='name'></br>
                <p class="inputtext">Item Description: </p>
                <textarea cols='32' rows='5' name='description'></textarea>

                </br></br>

                <input type='submit' value='Create'>
            </form>
            </br>
        </div>

        <a href="{{ url_for('showCategory', category_id=category_id) }}" class="link">
            <p>Back</p>
        </a>
{% endblock %}
