{% extends "main.html" %}

{% block content %}
        <div class="content">
            <h2 class='subtitle'>{{ category.name }}</h2>

            <hr>

            {% for item in items %}
                <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id) }}" class="blue">
                    <p>{{ item.name }}</p>
                </a>

                </br>
            {% endfor %}

            <div class='creator'>
                <img src="{{ creator.picture }}"><p>Category created by - </br><strong>{{ creator.name }}</strong></p>
            </div>

        </div>



        <a href="{{ url_for('showMain') }}" class="link">
            <p>Back</p>
        </a>
{% endblock %}
