{% extends "main.html" %}

{% block content %}
        <div class="content">
            <h2 class='subtitle'>{{ category.name }}</h2>

            <hr>

            {% for item in items %}
                <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id) }}" class="blue">
                    <p>{{ item.name }}</p>
                </a>

                </br>

                <div class='crud'>
                    <a href="{{ url_for('editItem', category_id=category.id, item_id=item.id) }}" class='crud-edit hvr-sweep-to-bottom'>
                        Edit
                    </a>

                    <a href="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}" class='crud-delete hvr-sweep-to-bottom'>
                        Delete
                    </a>

                    </br>

                </div>
            {% endfor %}

            </br>

            <a href="{{ url_for('newItem', category_id=category.id) }}" class='link hvr-sweep-to-bottom-c'>
                New</br>item
            </a>

            </br></br>

            <div class='creator'>
                <img src="{{ creator.picture }}"><p>Category created by - </br><strong>{{ creator.name }}</strong></p>
            </div>

        </div>



        <a href="{{ url_for('showMain') }}" class="back">
            <p>Back</p>
        </a>
{% endblock %}
