{% extends "main.html" %}

{% block content %}
        <div class="content">

            <h2 class="subtitle">Item Name: </h2>
            <hr>
            <p>{{ item.name }}</p>

            <h2 class="subtitle">Item Description: </h2>
            <hr>
            <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ item.description }}
            </p>
            </br>

            </br>

            <div class='creator'>
                <img src="{{ creator.picture }}"><p>Item created by - </br><strong>{{ creator.name }}</strong></p>
            </div>

        </div>

        <a href="{{ url_for('showCategory', category_id=category_id) }}" class="link">
            <p>Back</p>
        </a>
{% endblock %}
