<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/login" class="login">
            <p>Login</p>
        </a>

        <a href="/" class='titlelink'>
            <h1 class="title">Catalog App</h1>
        </a>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3 class="flash">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <a href="{{ url_for('newItem', category_id=category.id) }}" class='link'>
            <p>Create new item</p>
        </a>

        <div class="content">


        <h2 class='subtitle'>{{ category.name }}</h2>

        <hr>

        {% for item in items %}
            <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id) }}" class="blue">
                <p>{{ item.name }}</p>
            </a>

            </br>

            <div class='crud'>
                <a href="{{ url_for('editItem', category_id=category.id, item_id=item.id) }}">Edit</a>
                -
                <a href="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}">Delete</a></br>
            </div></br>
        {% endfor %}

        </div>



        <a href="{{ url_for('showMain') }}" class="link">
            <p>Back</p>
        </a>
    </body>
</html>
