<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/login" class="login">
            <p>Login</p>
        </a>

        <a href="/" class='titlelink'>
            <h1 class="title">Catalog App</h1>
        </a>

        </br></br>

        <div class="content">

            <h2 class="subtitle">Item Name: </h2>
            <hr>
            <p>{{ item.name }}</p>

            <h2 class="subtitle">Item Description: </h2>
            <hr>
            <p>{{ item.description }}</p></br>

            </br>

        </div>

        <a href="{{ url_for('showCategory', category_id=category_id) }}" class="link">
            <p>Back</p>
        </a>
    </body>
</html>
